<mat-radio-group aria-labelledby="example-radio-group-label" [(ngModel)]="activePaymentMethod">
  <mat-radio-button  disableRipple="true" *ngFor="let method of paymentMethods" [value]="method">
   <app-payment-method-selector [paymentMethod]="method"></app-payment-method-selector>
  </mat-radio-button>
</mat-radio-group>
