.mat-radio-checked {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(117,112,117,1); 
  -moz-box-shadow: 0px 0px 3px 0px rgba(117,112,117,1);
  box-shadow: 0px 0px 3px 0px rgba(117,112,117,1);
}

.mat-radio-button:hover {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(117,112,117,1); 
  -moz-box-shadow: 0px 0px 3px 0px rgba(117,112,117,1);
  box-shadow: 0px 0px 3px 0px rgba(117,112,117,1);
}

.mat-radio-button {
	margin-right: 20px ;
}

::ng-deep .mat-radio-container .mat-radio-outer-circle,
::ng-deep .mat-radio-container .mat-radio-inner-circle {
  border: none;
  width: 0;
}   

::ng-deep .mat-radio-button .mat-radio-container {
  width: 0;
}