<h1>
  Payment widget
</h1>
<app-country-selector-container></app-country-selector-container>
<app-payment-method-selector-container></app-payment-method-selector-container>
<app-payment-method-form-container></app-payment-method-form-container>