<form [formGroup]="paymentForm" (ngSubmit)="submitForm()">
  <div class="field-container">
    <mat-form-field class="form-fields">
      <input matInput placeholder="Enter the card holder name" formControlName="cardHolder">
      <mat-error>Characters only</mat-error>
    </mat-form-field>
  </div>
   <div class="field-container">
    <mat-form-field class="form-fields">
      <input matInput placeholder="Enter the card number" formControlName="cardNumber">
      <mat-error>Numbers only</mat-error>
    </mat-form-field>
  </div>
  <div class="field-container">
    <mat-form-field class="form-fields">
  	  <input matInput [min]="minDate" [matDatepicker]="expDate" placeholder="Choose a date">
  	  <mat-datepicker-toggle matSuffix [for]="expDate"></mat-datepicker-toggle>
	  <mat-datepicker #expDate></mat-datepicker>
	</mat-form-field>
  </div>
  <div class="field-container">
    <mat-form-field class="form-fields">
      <input matInput placeholder="Enter the card cvv" formControlName="cvv">
      <mat-error>Numbers only</mat-error>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>

