<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Curent country" matInput [formControl]="countryControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete"
                      (optionSelected)="changeCurrentCountry($event)">
      <mat-option *ngFor="let option of countriesList" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
